* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 :root {
    --Soft-orange: hsl(35, 77%, 62%);
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
 }
 body {
    font-family: 'Quicksand', sans-serif;
 }
 nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 24px;
    margin-right: 30px;
 }

 .nav-options li {
    display: inline-block;
    align-items: center;
    list-style: none;
 }
 .nav-options ul li a {
   text-decoration: none;
   padding: 8px;
   color: var(--Dark-grayish-blue);
 }
 .menu {
   display: none;
 }
 .main-container {
    float: left;
    width: 60%;
    height: 50%;
 }
 .desktop {
    padding: 0 24px;
    width: 100%;
    height: 40%;
 }
 .div-container {
    display: flex;
    flex-direction: row;
   
 }
 .text {
    width: 50%;
    font-size: 40px;
    padding: 0 24px;
 }
 .second-text {
    width: 50%;
    font-size: 13px;

 }
 .primary-button {
    background-color: salmon;
    color: white;
    width: 50%;
    height: 30%;
    border: 1px solid;
    margin: 30px 0;
 }
 aside {
    float: right;
 }
 .side-container {
    width: 30%;
    height: 419px;
    margin-right: 50px;
    padding: 20px;
    color: white;
    background-color: var(--Very-dark-blue);
    text-align: left;
    
}
.first-part h1 {
    color: var(--Soft-orange);
    padding: 10px 0;
}
.first-part p {
   margin-bottom: 40px;
}
.second-part p {
    margin-bottom: 40px;
 }

.final-div {
    display: flex;
    width: 100%;
    padding: 20px 24px;
 }
.div-one {
    width: 33%;
}
.div-one img {
    float: left;
    margin: 5px;
    height: 52%;
}
.div-one h1 {
   color: var(--Dark-grayish-blue);
   padding: 0 0 20px 0;
}
.div-one h3 {
    padding: 0 0 20px 0;
 }
.div-one h1 h3 p {
    float: right;
    text-align: center;
}
.div-two {
    width: 33%;
}
.div-two img {
    float: left;
    margin: 5px;
    height: 52%;
}
.div-two h1 {
    color: var(--Dark-grayish-blue);
    padding: 0 0 20px 0;
 }
 .div-two h3 {
    padding: 0 0 20px 0;
 }
.div-two h1 h3 p {
    float: right;
    text-align: center;
}    
.div-three {
    width: 33%;
}
.div-three img {
    float: left;
    margin: 5px;
    height: 52%;
}
.div-three h1 {
    color: var(--Dark-grayish-blue);
    padding: 0 0 20px 0;
 }
 .div-three h3 {
    padding: 0 0 20px 0;
 }
.div-three h1 h3 p {
    float: right;
    text-align: center;
}
